name: Java Tests (TestNG)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: maven-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: maven-

      - name: Run tests
        run: mvn clean test

      - name: Publish Test Report
        uses: dorny/test-reporter@v1
        if: always()
        with:
              name: TestNG Results
              path: target/surefire-reports/*.xml
              reporter: java-junit

